body {
    margin: 0;
    overscroll-behavior-y:none;
    overflow-y: hidden;
    touch-action:none;
}
html,
body,
#root {
  height: 100%;

}
html{
  overscroll-behavior:contain;
  overflow:hidden;
  touch-action:none;
 }
canvas{
  overscroll-behavior: none;
}
.trackpad {
overscroll-behavior-y:contain;
overscroll-behavior:contain;
  height: 200px;
  width: 350px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(-61%, -61%);
  border-radius: 10px;
  background: black;
  font-weight: weight("small");
}
.screen {
  height: 195px;
  width: 340px;
  position: fixed;
  top: 0;
  right: 50%;
  transform: translate(50%, -106%);
  border-radius: 4px;
  background: white;
  .screenWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    .cursor {
      position: absolute;
      top: 0;
      left: 0;
      svg {
        width: 0.65em;
        height: 0.65em;
      }
    }
  }
}
